.card .contact{
    border: none;
    text-decoration: none;
    margin: 0;
}
i {
    vertical-align: middle;
}
.card.contact .card-header {
    padding-left: 50px;
    background-color: $secondry-color;
}
.card.contact .card-body {
    padding-left: 70px;
    border: none;
}
.btn-link
{&:hover, &:focus {
    color: $accent-color2;
    text-decoration: none;
}}
.card button{
font-size: 30px;
color: $accent-color3;
}
#socials{ 
    button {
        color: $primary-color;
    }
    .btn-outline-light{
        border: none;
}}
input{
    border-radius: 0;
}
.card .btn-primary{
    background-color: $accent-color2;
    color: white; 
    border: none; 
}
.material-icons{
    font-size: 35px;
}
#faqs a{
    text-decoration: none; 
    color: $primary-color;
}
#faqs{
    margin: 0; 
}
#faqs i{
    font-size: 20px; 
    color: $accent-color2;
    transform: rotate(-45deg);
}