.dashboard-container {
    padding: 5%;
}

.dashboard.nav .nav-item .nav-link{
    color: #DF0049;
}



.dashboard-title {
    margin-top: 15px;
}

.dashboard-form {
    width: 100%;
}

.dashboard-form-input {
    width: 100%;
}

.dashboard-form-textarea {
    width: 100%;
}

.dashboard-form-button {
    color: black;
    margin: 10px 15px 10px 0;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.dashboard-link, .dashboard-link:hover {
    color: black;
    margin: 20px 15px 20px 0;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.dashboard-link:hover {
    cursor: pointer;
}

.dashboard-link-container {
    margin: 10px 0;
}

.dashboard-link-container div {
    padding: 0;
}

.memdash.row{
    margin:0;
}