footer {
    background-color: #343a40;
    position:absolute;
    bottom:0;
    width:100%;
} 
footer {
    h4 {
        color: $secondry-color;
} .col-sm-4 {
    padding: 30px 40px 0 40px; 
} p {
    color: $secondry-color;
} .row .copyright {
    margin: 0 auto; 
} .copyright p {
    font-size: 0.8rem; 
    text-align: center; 
} .nav-link::before {
    background-color: $accent-color1;
} .nav-link:hover::before {
    width: 70%;
  }
  .nav-link {
      margin: 0; 
      padding: 8px 0px;
  }
}