$primary-color: #000000;
$secondry-color:#f9fbfc;
$accent-color1:#e0004a;
$accent-color2:#44bba4;
$accent-color3:#75dbcd;

h1,
h2,
h3,
.nav-item {
  font-family: 'Raleway', Sans-Serif;
}

p {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

body {
  background-color: $secondry-color;
  padding-top:78px;
}

main {
  min-height: calc(100vh - 357px - 80px);
}