.navbar.bg-dark{
    background-color: $accent-color1!important;
}

.navbar.main{
  height: 80px;
}




.nav-link.main {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 10px 0px;
    margin: 0px 20px;
    position: relative;
    color: white;
    
  }
  
  .navbar-dark.main .navbar-nav.main .nav-link.main{
      color:$secondry-color;
  }
  .nav-link.main:hover {
    opacity: 1;
  }
  
  .nav-link.main::before {
    transition: 500ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color:black;
  }
  
  .nav-link.main::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link.main:hover::before {
    width: 100%;
  }

  .navbar-collapse.collapse.show{
    background-color: $accent-color1;
 
  }