h1,
h2,
h3,
.nav-item {
  font-family: 'Raleway', Sans-Serif;
}

p {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

body {
  background-color: #f9fbfc;
}

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .carousel-item img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.search-sec {
  padding: 2rem;
  z-index: 10;
  -webkit-transform: translateY(55px);
      -ms-transform: translateY(55px);
          transform: translateY(55px);
}

.search-field {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
  }
}

@media (max-width: 992px) {
  .search-sec {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background: #f9fbfc;
  }
}

.card-container {
  padding: 0;
}

.card-container h1 {
  -webkit-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
          transform: translateY(-45px);
}

.event-card {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
}

.event-card:last-of-type {
  margin-bottom: 50px;
}

.event-card .card-image {
  height: 150px;
  width: 150px;
}

.event-card .card-image img {
  max-height: 100%;
}

.event-card .card-content {
  padding: 10px 20px;
}

.event-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px lightgrey;
}

.event-container > * {
  margin-left: 15px;
  margin-right: 15px;
}

.event-container--image {
  padding: 0;
}

.event-container--image img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.event-container--tickets > button {
  width: 50%;
}

.event-container--map {
  padding: 0px;
}

.event-container--map iframe {
  width: 100%;
}

.row.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.contact {
  margin: 1rem;
  text-align: center;
}

.jumbotron.post {
  background-image: -webkit-gradient(linear, right top, left top, from(#000000), to(#7F8C8D));
  background-image: -o-linear-gradient(right, #000000, #7F8C8D);
  background-image: linear-gradient(-90deg, #000000, #7F8C8D);
  text-align: center;
  margin: 0 auto;
  color: #f9fbfc;
}

.navbar.bg-dark {
  background-color: #e0004a !important;
}

.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 10px 0px;
  margin: 0px 20px;
  position: relative;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f9fbfc;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: black;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */