.row.contact {
    justify-content: center;
}

.card.contact{
    margin: 1rem;
    text-align: center;
}

.jumbotron.post {
        background-image: linear-gradient(-90deg, #000000, #7F8C8D);
text-align: center;
margin: 0 auto;
color: #f9fbfc;
}