/* Coolors Exported Palette - coolors.co/000000-e0004a-f9fbfc-44bba4-75dbcd */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(340%, 100%, 44%, 1);
$color3: hsla(200%, 33%, 98%, 1);
$color4: hsla(168%, 47%, 50%, 1);
$color5: hsla(172%, 59%, 66%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(224, 0, 74, 1);
$color3: rgba(249, 251, 252, 1);
$color4: rgba(68, 187, 164, 1);
$color5: rgba(117, 219, 205, 1);